
$mini-tab: 500px;
$tab: 700px;
$desktop: 1100px;

:root {
  --side-p: clamp(20px, 5dvw, 10%);
  --max-w: 1200px;

  --bg: #fffcee;
  --text: #121212;
  --font: 16px;
  --medium: #c9bebe;
  --dark: #0a021a;

  --btn-c: #14440fee;
  --special-link: teal;
}