@use '../util/' as *;

.about {
  margin-top: 100px;
  padding: 20px var(--side-p);
  min-height: 60dvh;
  @include df(center, center, column, 20px);
  &__content {
    @include df(normal, start, column, 20px);
    a {
      @include btn;
    }
  }
  &__img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    figure {
      position: relative;
      height: 400px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border: 2px solid var(--dark);
        padding: 20px;
        background: rgba(#fff,.7);
      }
    }
  }
}