@use '../util/' as *;

.loader {
  border: 2px solid;
  background: var(--bg);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  &.active {
    @include df(center, center);
  }
  &__content {
    text-transform: uppercase;
    @include df(center, center, column, 5px);
    .window {
      border: 2px solid;
      height: 100px;
      width: 70px;
      margin-bottom: 20px;
      padding: 5px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      position: relative;
      overflow: hidden;
      background: #fff;
      &::before, &::after {
        position: absolute;
        content:'';
        height: 150px;
        width: 1px;
        background: var(--medium);
        transform: rotate(34deg);
        place-self: center;
        z-index: 1;
      }
      &::after {
        transform: rotate(-34deg);
      }
      span {
        overflow: hidden;
        border: 1px solid;
        position: relative;
        z-index: 2;
        background: var(--bg);
        @include df(center, center);
        &::after {
          content: '';
          position: absolute;
          background: #eee;
          width: 20px;
          height: 100px;
          transform: rotate(45deg);
        }
        &::before {
          content: '';
          position: absolute;
          z-index: 2;
          background: var(--bg);
          width: 2px;
          height: 100px;
          transform: rotate(45deg);
        }
      }
    }
    .word {
      @include df(normal, normal, row, 5px);
      .letter {
        width: 25px;
        height: 25px;
        background: var(--text);
        color: var(--bg);
        text-align: center;
        animation: loader__text 2s linear infinite;
        @include df(center, center);
      }

    }
  }
}

@keyframes loader__text {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}