@use '../util/' as *;

.services {
  --red: green;
  padding: 20px var(--side-p);
  &__content {
    text-align: center;
    @include df(center, center, column, 20px);
    .grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
      >* {
        min-height: 200px;
        padding: 20px;
        background: #fff;
        text-align: center;
        border: 2px solid transparent;
        transition: all .3s;
        @include df(center, center, column, 10px);
        img {
          width: auto;
          filter:hue-rotate(180deg);
        }
        &:hover {
          border: 2px solid var(--special-link);
          transform: scale(1.05);
        }
      }
      .more {
        text-decoration: none;
        color: var(--text);
        font-weight: 700;
        border: 2px solid var(--medium);
        &:hover {
          border-color: purple;
          color: purple;
        }
      }
    }
  }
}
